@using TwitchCommunity.Application.Enlistments
@using TwitchCommunity.Host.ViewModels
@model IEnumerable<EnlistmentViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<div>
    @using (Html.BeginForm("Post", "Home", FormMethod.Post))
    {

        <ul class="list-group">
            @foreach (var enlistment in Model)
            {
                <li class="list-group-item">
                    <div>
                        @if(enlistment.State == EnlistmentState.Open)
                        {
                            <input type="checkbox" name="selected" value="@enlistment.Id" />
                        }
                        
                        <strong>@enlistment.UserName</strong>
                        <small>@enlistment.Timestamp</small>
                        
                    </div>
                </li>

            }

            @if (!Model.Any())
            {
                <li>Keine Einträge</li>
            }
        </ul>

        <input type="submit" value="Draw" />
    }
</div>
