@using TwitchCommunity.Domain
@using TwitchCommunity.Host.ViewModels
@model IEnumerable<EnlistmentViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<div>
    @using (Html.BeginForm("Post", "Home", FormMethod.Post))
    {

        <ul class="list-group">
            @foreach (var enlistment in Model)
            {
                <li class="list-group-item">

                    <div>

                        @if (enlistment.State == EnlistmentState.Active)
                        {
                            <b title="active">&hearts;</b>
                        }

                        @if (enlistment.State == EnlistmentState.Open)
                        {
                            <input type="checkbox" name="selected" value="@enlistment.Id" />
                        }

                        <strong>@enlistment.UserName</strong>
                        <small>@enlistment.Timestamp</small>

                        @if(enlistment.State == EnlistmentState.Active)
                        {
                            <input type="checkbox" name="activeSelected" value="@enlistment.Id" />
                        }

                    </div>
                </li>

            }

            @if (!Model.Any())
            {
                <li class="list-group-item">Keine Einträge</li>
            }
        </ul>

        <input type="submit" value="Draw / Close" />
    }
</div>
